/* ################################### 
Proyecto: Tarea de Evaluación 1.
Desarrollador: Marinelly Rodriguez
Fecha: Mayo 2026
Nombre del código: tab-inicial.page.scss
Versión: 1.0.0 (Tarea de Evaluación 1)
Descripción: Aplicación del diseño al html de los TABS.
#####################################
*/

.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
